/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : nov 23, 2019, 10:49:21 a.m.
    Author     : GaryBarzola
*/

/** Ventana Princial **/
.myButton{
    -fx-text-decoration: none;
    -fx-padding: 10px;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-color: #1883ba;
    -fx-background-color: #1883ba;
}

.myButton:hover {
    -fx-text-fill:#1883ba;
    -fx-background-color: #ffffff;
}

#contenido:hover{
    -fx-background-color:#CFDCDC;
}